# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [ ]:
print("Parker Shimp")

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 20)

In [1]:
# Write your answer here:

import pandas as pd
import sqlalchemy as sa
from   sqlalchemy.engine import URL

<font size = "5">

Establish a connection to the SQL server <br>
from Python as in Lecture 20 using <br>
```URL()``` and ```create_engine()```

In [6]:
# Write your own code

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5433,
    #password  = '12345'
)

con = sa.create_engine(url_server).connect()

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```

In [17]:
# Write your own code
laps = pd.read_csv("lap_times.csv")
drivers = pd.read_csv("drivers.csv")

laps.to_sql('laps_sql', con = con, if_exists = 'replace')
drivers.to_sql('drivers_sql', con = con, if_exists = 'replace')

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [14]:
# Write your own code

example1 = pd.read_sql("SELECT * \
                        FROM drivers_sql \
                        WHERE nationality = 'American' \
                        ORDER BY surname ASC", con)

display(example1)

,index,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,796,796,ader,\N,\N,Walt,Ader,1913-12-15,American,http://en.wikipedia.org/wiki/Walt_Ader
1,615,615,agabashian,\N,\N,Fred,Agabashian,1913-08-21,American,http://en.wikipedia.org/wiki/Fred_Agabashian
2,591,591,george_amick,\N,\N,George,Amick,1924-10-24,American,http://en.wikipedia.org/wiki/George_Amick
3,517,517,amick,\N,\N,Red,Amick,1929-01-19,American,http://en.wikipedia.org/wiki/Red_Amick
4,120,121,andretti,\N,\N,Michael,Andretti,1962-10-05,American,http://en.wikipedia.org/wiki/Michael_Andretti
...,...,...,...,...,...,...,...,...,...,...
153,448,449,ward,\N,\N,Rodger,Ward,1921-01-10,American,http://en.wikipedia.org/wiki/Rodger_Ward
154,677,677,webb,\N,\N,Travis,Webb,1910-10-08,American,http://en.wikipedia.org/wiki/Travis_Webb
155,530,530,weiler,\N,\N,Wayne,Weiler,1934-12-09,American,http://en.wikipedia.org/wiki/Wayne_Weiler
156,563,563,weyant,\N,\N,Chuck,Weyant,1923-04-03,American,http://en.wikipedia.org/wiki/Chuck_Weyant
157,539,539,dempsey_wilson,\N,\N,Dempsey,Wilson,1927-03-11,American,http://en.wikipedia.org/wiki/Dempsey_Wilson

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [19]:
# Write your own code
pd.read_sql("SELECT COUNT(DISTINCT \"driverId\") AS num_distinct_drivers, \
            COUNT(*) AS num_drivers \
            FROM drivers_sql ;", con)

   num_distinct_drivers  num_drivers
0                   857          857

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [10]:
# Write your own code

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [11]:
# Write your own code